<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">
            YD Cleaning
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/#services">
                        Services
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/#reviews">
                        Reviews
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/#quote">
                        Contact
                    </a>
                </li>
            </ul>

            <a href="tel:0430049865" class="btn btn-warning ms-lg-3">
                Call 0430 049 865
            </a>
        </div>
    </div>
</nav>