{% extends "dashboard_base.html" %}

{% block content %}

<div class="dashboard-card">

    <div class="crm-panel-header">
        <h1>Purchase Orders</h1>

        <a href="/dashboard/purchase-orders/add/"
           class="btn-fill">
            Create Order
        </a>
    </div>

    <table class="dashboard-table">

        <thead>
            <tr>
                <th>ID</th>
                <th>Supply</th>
                <th>Supplier</th>
                <th>Qty</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

        {% for order in orders %}

            <tr>

                <td>#{{ order.id }}</td>

                <td>{{ order.supply }}</td>

                <td>{{ order.supplier_name }}</td>

                <td>{{ order.quantity }}</td>

                <td>{{ order.get_status_display }}</td>

                <td>

                    {% if order.status != "received" %}

                        <a href="{% url 'receive_purchase_order' order.id %}"
                        class="btn-fill">

                            Receive Stock

                        </a>

                    {% else %}

                        <span class="status-badge success">
                            Received
                        </span>

                    {% endif %}

                </td>

            </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}