{% extends 'base.html' %}

{% block title %}
Apply Leave | Employee Portal
{% endblock %}

{% block content %}

<section class="employee-portal-hero">
    <div class="container">
        <div class="employee-hero-box">
            <div>
                <h1>Apply Leave</h1>
                <p>Select leave type, dates and reason.</p>
            </div>

            <a href="/employee/leave/" class="employee-back-btn">
                Leave History
            </a>
        </div>
    </div>
</section>

<section class="section employee-dashboard-section">
    <div class="container">

        <div class="employee-form-card">


            <form method="POST">
                {% csrf_token %}

                <div class="auth-grid">
                    <div class="form-group">
                        <label>Leave Type</label>
                        {{ form.leave_type }}
                        <div class="text-danger">{{ form.leave_type.errors }}</div>
                    </div>

                    <div class="form-group">
                        <label>Start Date</label>
                        {{ form.start_date }}
                        <div class="text-danger">{{ form.start_date.errors }}</div>
                    </div>

                    <div class="form-group">
                        <label>End Date</label>
                        {{ form.end_date }}
                        <div class="text-danger">{{ form.end_date.errors }}</div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Reason</label>
                    {{ form.reason }}
                    <div class="text-danger">{{ form.reason.errors }}</div>
                </div>

                <div class="employee-form-actions">
                    <button type="submit" class="btn-fill">
                        Submit Leave Request
                    </button>

                    <a href="/employee/leave/" class="btn-outline">
                        Cancel
                    </a>
                </div>
            </form>

        </div>

    </div>
</section>

{% endblock %}