.terms-hero{

background:#007bff;

color:white;

padding:100px 0;

text-align:center;

}



.terms-hero h1{

font-size: var(--font-size-h1);

font-weight:800;

}



.terms-content{

padding:80px 0;

}



.terms-content h2{

font-size: var(--font-size-h2);

margin-top:40px;

font-weight:700;

}



.terms-content p{

font-size: var(--font-size-base);

line-height:1.8;

color:#555;

}



.terms-content li{

margin:12px 0;

font-size: var(--font-size-base);

}



@media(max-width:768px){


.terms-hero h1{

font-size: var(--font-size-h1);

}


.terms-content{

padding:50px 20px;

}

}