{% extends "dashboard_base.html" %}

{% block content %}

<h1>{{ employee.full_name }}</h1>

<div class="crm-summary-grid">

    <div class="crm-card">
        <span>Email</span>
        <h2>{{ employee.email }}</h2>
    </div>

    <div class="crm-card">
        <span>Phone</span>
        <h2>{{ employee.phone }}</h2>
    </div>

</div>

<div class="dashboard-card">

    <h2>Recent Jobs</h2>

    <p>{{ bookings.count }}</p>

</div>

<div class="dashboard-card">

    <h2>Payroll Records</h2>

    <p>{{ payrolls.count }}</p>

</div>

<div class="dashboard-card">

    <h2>Leave Requests</h2>

    <p>{{ leave_requests.count }}</p>

</div>

{% endblock %}