{% extends 'dashboard_base.html' %}

{% block title %}Employee KPI{% endblock %}

{% block content %}

<section class="crm-panel">

    <div class="crm-panel-header">
        <h2>Employee Performance Ranking</h2>
    </div>

    <div class="table-wrapper">

        <table class="dashboard-table advanced-table">

            <thead>
                <tr>
                    <th>Employee</th>
                    <th>Completed Jobs</th>
                    <th>Revenue Generated</th>
                    <th>Total Hours Worked</th>
                </tr>
            </thead>

            <tbody>

                {% for row in employee_rows %}

                <tr>

                    <td>{{ row.employee.full_name }}</td>

                    <td>{{ row.booking_count }}</td>

                    <td>${{ row.revenue }}</td>

                   <td>{{ row.hours_worked }}</td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</section>

{% endblock %}