{% extends 'dashboard_base.html' %}

{% block title %}{{ page_title }} | YD Dashboard{% endblock %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block page_subtitle %}Create or update customer reviews.{% endblock %}

{% block content %}

<section class="crm-panel">


    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn-fill">
            {{ button_text }}
        </button>

        <a href="/dashboard/reviews/" class="btn-outline">
            Back to Reviews
        </a>
    </form>

</section>

{% endblock %}